{% extends "base.html" %}
{% block title %}Вход | HelpChain{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Вход в системата</h2>
    <form method="POST" action="{{ url_for('login') }}">
      <div class="mb-3">
        <label for="email" class="form-label">Имейл:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Парола:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Вход</button>
    </form>
</div>
{% endblock %}
