{% extends "base.html" %}
{% block title %}Условия за ползване | HelpChain.live{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-primary">Условия за ползване</h2>
    <ul>
        <li>Платформата е предназначена само за подаване на сигнали за помощ.</li>
        <li>Забранено е публикуването на неверни или подвеждащи данни.</li>
        <li>Не носим отговорност за съдържанието, предоставено от потребителите.</li>
        <li>Сигналите се обработват според възможностите на екипа.</li>
        <li>С използването на сайта приемате <a href="/privacy" target="_blank">политиката за поверителност</a>.</li>
    </ul>
</div>
{% endblock %}